.title {
  font-family: 'Righteous', sans-serif;
  font-size: 5rem;
  text-align: center;
}
.text {
  font-size: 1.5rem;
  margin: 3rem;
  width: 50%;
  text-align: center;
}
.largeText {
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
}
.homeimg {
  min-height: 500px;
  min-width: 500px;
}
.formpage {
  height: 100vh;
  min-width: 100vw;
  display: flex;
}

.content {
  background: #ccc1f6;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  margin: 2rem 0;
}

.input {
  height: 100px;
  width: 450px;
  padding: 1rem;
  background: #dfdaf5;
  border-radius: 10px;
  margin: 1rem 0;
  border: none;
  font-size: 1.5rem;
  color: #a5a5a5;
}
.input:focus {
  outline: none;
}

.btn {
  color: #fff;
  background: #6e49ff;
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  text-align: center;
}

.btn:focus {
  outline: none;
}
